{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block title_table %} {{ project.name }} - Hosts {% endblock title_table %}

{% block add_url %} {{ url_for('projects.add_host', pid=project.id) }} {% endblock add_url %}

{% block datatable %}
{{ super() }}
<table class="table table-bordered table-striped mb-none" id="datatable-editable">
    <thead>
            <tr>
                <th width="5%"> # </th>
                <th width="20%"> hostname</th>
                <th width="25%"> hostname</th>
                <th width="20%"> OS</th>
                <th width="10%"> Address</th>
                <th width="20%"> Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for h in hosts %}
              <tr>
                <td> {{ h.id }} </td>
                <td> {{h.name}} </td>
                <td> {{ h.hostname }} </td>
                <td> {{ h.os }} </td>
                <td> {{ h.ipv4 }} </td>
                <td>
                <a href="{{ url_for('projects.edit_host', pid=project.id, id=h.id) }}" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-trash"></i> Delete</a>
            </td>
              </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock datatable %}

