{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/create_layout.html" %}
{% from "_formhelpers.html" import render_field , render_submit_field%}


{% block stylesheets %}
{{ super() }}
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendors/select2/dist/css/select2.min.js') }}"></script>
{% endblock stylesheets %}

{% block title_left %}
    Contact
{% endblock title_left %}

{% block title_form %}
    {{ title }}
{% endblock title_form %}

{% block form_content %}
    {{ super() }}
    {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                                {% if category == "success" %}
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                          <span class="sr-only">Success:</span>
                                {% elif category == "error" %}
                                    <div class="alert alert-error alert-dismissible fade in" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                          <span class="sr-only">Error:</span>
                                {% else %}
                                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                                {% endif %}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                              {{ message }}
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
    <form action="" method="post" data-parsley-validate class="form-horizontal form-label-left">
        {{ form.hidden_tag() }}
        {{ render_field(form.title) }}
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}

        {{ render_field(form.phone) }}
        {{ render_field(form.mobile) }}
        {{ render_field(form.email) }}
        {{ render_field(form.company) }}
        {{ render_field(form.street) }}
        {{ render_field(form.zipcode) }}
        {{ render_field(form.city) }}
        {{ render_field(form.notes, class="ckeditor") }}
        {{ render_submit_field(form.submit) }}
    </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='notes') }}
{% endblock form_content %}


{% block below_form %}

{% endblock below_form %}



{% block javascripts %}
  {{ super()}}
  <!-- Parsley -->
  <script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
  <!-- Select2 -->
  <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>

{% endblock javascripts %}