{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block title_table %} {{ project.name }} - ToDos {% endblock title_table %}

{% block add_url %} {{ url_for('projects.add_todo', pid=project.id) }} {% endblock add_url %}

{% block datatable %}
{{ super() }}
<table class="table table-bordered table-striped mb-none" id="datatable-editable">
    <thead>
        <tr>
            <th width="5%"> # </th>
            <th width="60%"> Name </th>
            <th width="15%"> Status</th>
            <th width="20%"> Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for t in todos %}
          <tr>
            <td> {{ t.id }} </td>
            <td> {{ t.name }} </td>
            <td>
                {{ helper.render_status(t.status) }}
            </td>
            <td>
                <a href="{{ url_for('projects.edit_todo', pid=project.id, id=t.id) }}" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-trash"></i> Delete</a>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock datatable %}


