{% extends "layout/list_layout.html" %}


{% block page_title %} Companies {% endblock page_title %}
{% block menu_l1 %} Contacts {% endblock menu_l1 %}
{% block menu_l2 %} Companies {% endblock menu_l2 %}

{% block add_url %} {{ url_for('contacts.add_company') }} {% endblock add_url %}

{% block datatable %}
{{ super() }}

            <table id="table1" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="10%"> Id</th>
                        <th width="70%"> Name</th>
                        <th width="20%"> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in companies %}
                    <tr>
                        <td> {{ c.id }}</td>
                        <td> {{ c.name }}</td>
                        <td>
                            <a href="{{ url_for('contacts.edit_company', id=c.id) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-edit"></i> Edit
                            </a>
                            <a href="#" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock datatable %}
