{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/base_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block content %}
{{ super() }}
    <div class="row p-3">
        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Your projects</h3>

                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                        {% if projects %}
                            {% for p in projects %}
                          <li class="item">
                            <div class="product-img">
                              <i class="fas fa-minus"></i>
                            </div>
                            <div class="product-info">
                              <a href="{{ url_for('projects.dashboard', pid=p.id) }}" >{{ p.name }}
                                {{ helper.render_status_badge(p.status) }}</a>
                              <span class="product-description">
                                Assigned to: {{ p.project_manager }}
                              </span>
                            </div>
                          </li>
                            {% endfor %}
                         <!-- /.item -->
                        {% else %}
                        <p>You are not assigned to any projects.</p>
                    {% endif %}
                    </ul>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="{{ url_for('projects.list') }}" class="uppercase">View All Modules</a>
                  </div>
                  <!-- /.card-footer Module Panel-->
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-olive">
                  <div class="card-header">
                    <h3 class="card-title">Your ToDos</h3>

                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                        {% if todos %}
                            {% for t in todos %}
                          <li class="item">
                            <div class="product-img">
                              <i class="fas fa-minus"></i>
                            </div>
                            <div class="product-info">
                              <a href="#" >{{ t.name }}
                                {{ helper.render_status_badge(t.status) }}</a>
                              <span class="product-description">
                                Assigned to: {{ t.assigned_to }}
                              </span>
                            </div>
                          </li>
                            {% endfor %}
                         <!-- /.item -->
                        {% else %}
                        <p>There are no ToDos assigned to you.</p>
                    {% endif %}
                    </ul>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="{{ url_for('projects.list') }}" class="uppercase">View All Modules</a>
                  </div>
                  <!-- /.card-footer Module Panel-->
            </div>
        </div>

    </div>

{% endblock content %}


{% block javascripts %}
{{ super()}}
<!-- Parsley -->
<script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}
