
{% macro render_status_badge(status) %}
  {% if status.name == 'open' %}
    <span class="badge badge-primary float-right">{{ status.name }}</span>
  {% elif status.name == 'closed' %}
    <span class="badge badge-secondary float-right">{{ status.name }}</span>
  {% elif status.name == 'done' %}
    <span class="badge badge-success  float-right">{{ status.name }}</span>
  {% elif status.name == 'in_progress' %}
    <span class="badge badge-info  float-right">{{ status.name }}</span>
  {% elif status.name == 'cancelled' %}
    <span class="badge badge-danger  float-right">{{ status.name }}</span>
  {% elif status.name == 'on_hold' %}
    <span class="badge badge-warning  float-right">{{ status.name }}</span>
  {% else %}
    <span class="badge badge-default  float-right">{{ status.name }}</span>
  {% endif %}
{% endmacro %}

{% macro render_status(status) %}
  {% if status.name == 'open' %}
    <span class="btn btn-primary btn-xs">{{ status.name }}</span>
  {% elif status.name == 'done' %}
    <span class="btn btn-success btn-xs">{{ status.name }}</span>
  {% elif status.name == 'in_progress' %}
    <span class="btn btn-info btn-xs">{{ status.name }}</span>
  {% elif status.name == 'closed' %}
    <span class="btn btn-secondary btn-xs">{{ status.name }}</span>
  {% elif status.name == 'cancelled' %}
    <span class="btn btn-danger btn-xs">{{ status.name }}</span>
  {% elif status.name == 'on_hold' %}
    <span class="btn btn-warning btn-xs">{{ status.name }}</span>
  {% else %}
    <span class="btn btn-default btn-xs">{{ status.name }}</span>
  {% endif %}
{% endmacro %}


{% macro render_impact(impact) %}
  {% if impact.name == 'Critical' %}
    <span class="text-purple">{{ impact.name }}</span>
  {% elif impact.name == 'High' %}
    <span class="text-danger">{{ impact.name }}</span>
  {% elif impact.name == 'Medium' %}
    <span class="text-orange">{{ impact.name }}</span>
  {% elif impact.name == 'Low' %}
    <span class="text-warning">{{ impact.name }}</span>
  {% elif impact.name == 'Info' %}
    <span class="text-info">{{ impact.name }}</span>
  {% else %}
    <span class="text-muted">{{ impact.name }}</span>
  {% endif %}
{% endmacro %}


{% macro render_likelihood(likelihood) %}
  {% if likelihood.name == 'Critical' %}
    <span class="text-purple">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'High' %}
    <span class="text-danger">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'Medium' %}
    <span class="text-orange">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'Low' %}
    <span class="text-warning">{{ likelihood.name }}</span>
  {% elif likelihood.name == 'Info' %}
    <span class="text-info">{{ likelihood.name }}</span>
  {% else %}
    <span class="text-muted">{{ likelihood.name }}</span>
  {% endif %}
{% endmacro %}