{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block title_table %} Available projects {% endblock title_table %}

{% block add_url %} {{ url_for('projects.create') }} {% endblock add_url %}

{% block datatable %}
{{ super() }}
<table id="table1" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="5%"> # </th>
            <th width="25%"> Project Name </th>
            <th width="20%"> Project Team </th>
            <th width="10"> Status</th>
            <th width="20%"> Customer </th>
            <th width="20%"> Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for p in projects %}
      <tr>
        <td> {{ p.id }} </td>
          <td> <b>{{ p.name }}</b> </br>
            <small>Start: {{p.start_date.strftime('%d-%m-%Y')}}</small></br>
            <small>End: {{p.end_date.strftime('%d-%m-%Y')}}</small>
        </td>
          <td> <b>PM:</b> {{ p.project_manager.username }}</br>
              <b>Assessors:</b> {{ p.assessors|join(', ')}}</td>
        <td> {{ helper.render_status(p.status) }} </td>
        <td> {{ p.customer }} </td>
        <td>
            <a href="{{ url_for('projects.dashboard', pid=p.id) }}" class="btn btn-default btn-xs">
                <i class="fas fa-eye"></i> View</a>
            <a href="{{ url_for('projects.edit', id=p.id) }}" class="btn btn-primary btn-xs">
                <i class="fas fa-edit"></i> Edit</a>
            <a href="{{ url_for('projects.delete', id=p.id) }}" class="btn btn-danger btn-xs">
                <i class="fas fa-trash"></i> Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock datatable %}

