{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/base_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block content %}
{{ super() }}
    <!-- Boxes -->
    <div class="row p-3">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ vulns | length }}</h3>

                <p>Vulnerabilities</p>
              </div>
              <div class="icon">
                <i class="ion ion-bug"></i>
              </div>
              <a href="{{ url_for('projects.vulns',pid=project.id) }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>{{ todos | length }}</h3>

                <p>Todos</p>
              </div>
              <div class="icon">
                <i class="fas fa-tasks"></i>
              </div>
              <a href="{{ url_for('projects.todos',pid=project.id) }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ systems | length }}</h3>

                <p>Systems</p>
              </div>
              <div class="icon">
                <i class="fas fa-cubes"></i>
              </div>
              <a href="{{ url_for('projects.systems', pid=project.id) }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{hosts | length }}</h3>

                <p>Hosts</p>
              </div>
              <div class="icon">
                <i class="fas fa-desktop"></i>
              </div>
              <a href="{{ url_for('projects.hosts', pid=project.id) }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
    <div class="row p-3">
        <div class="col-md-6">
            <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Modules</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                    {% if modules %}
                        {% for m in modules %}
                      <li class="item">
                        <div class="product-img">
                          <i class="fas fa-minus"></i>
                        </div>
                        <div class="product-info">
                          <a href="#" >{{ m.name }}
                            {{ helper.render_status_badge(m.status) }}</a>
                          <span class="product-description">
                            Assigned to: {{ m.assigned_to }}
                          </span>
                        </div>
                      </li>
                        {% endfor %}
                     <!-- /.item -->
                        {% else %}
                                    <p>No modules defined for project</p>
                    {% endif %}
                    </ul>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="{{ url_for('projects.modules',pid=project.id) }}" class="uppercase">View All Modules</a>
                  </div>
                  <!-- /.card-footer Module Panel-->
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">ToDos</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                    {% if todos %}
                        {% for t in todos %}
                      <li class="item">
                        <div class="product-img">
                          <i class="fas fa-minus"></i>
                        </div>
                          <div class="product-info">
                          <a href="#">{{ t.name }}
                            {{ helper.render_status_badge(t.status) }}</a>
                          <span class="product-description">
                            Assigned to: {{ t.assigned_to }}
                          </span>
                        </div>
                      </li>
                        {% endfor %}
                     <!-- /.item -->
                    {% else %}
                        <p>No ToDos defined for project</p>
                    {% endif %}
                    </ul>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="{{ url_for('projects.todos',pid=project.id) }}" class="uppercase">View All Modules</a>
                  </div>
                  <!-- /.card-footer ToDos panel-->
            </div>
        </div>

    </div>

    <div class="row p-3">
        <div class="col-md-6">
            <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Methodologies</h3>

                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                      </a>
                      <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                    {% if methodologies %}
                        {% for m in methodologies %}
                      <li class="item">
                        <!--<div class="product-img">
                          <img src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                        </div>-->
                          <div class="product-img">
                          <i class="fas fa-minus"></i>
                        </div>
                        <div class="product-info">
                          <a href="#" >{{ m.name }}
                              {{ helper.render_status_badge(m.status) }}</a>
                        </div>
                      </li>
                        {% endfor %}
                     <!-- /.item -->
                        {% else %}
                        <p>No methodologies defined for project</p>
                    {% endif %}
                    </ul>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="{{ url_for('projects.methodologies',pid=project.id) }}" class="uppercase">View All Methodologies</a>
                  </div>
                  <!-- /.card-footer Methodoligies Panel-->
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block javascripts %}
{{ super()}}
<!-- Parsley -->
<script src="{{ url_for('static', filename='vendors/parsleyjs/dist/parsley.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
{% endblock javascripts %}
