{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/create_layout.html" %}
{% from "_formhelpers.html" import render_field, render_select_field, render_submit_field, render_submit_field_float_right%}

{% block page_title %} New Project {% endblock page_title %}

{% block content %}

    <form class="form-horizontal form-bordered" method="post">

<section class="content">

      <div class="row p-3">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
                {{ form.hidden_tag() }}
                {{ render_field(form.name, size=100) }}
                {{ render_select_field(form.status) }}
                {{ render_field(form.start_date, class='form-control datepicker') }}
                {{ render_field(form.end_date, class='form-control datepicker') }}
                {{ render_field(form.note) }}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Assessment Team</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
                {{ render_select_field(form.company) }}
                {{ render_select_field(form.project_manager) }}
                {{ render_select_field(form.assessors) }}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Customer</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
                {{ render_select_field(form.customer) }}
                {{ render_select_field(form.customer_pm) }}
                {{ render_select_field(form.customer_contacts) }}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    <div class="row p-3">
        <div class="col-12">
            <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Additional Information (used for report generation)</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
                {{ render_field(form.summary) }}
                {{ render_field(form.description) }}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </div>
      <div class="row p-3">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancel</a>
            {{ render_submit_field_float_right(form.submit) }}
        </div>
      </div>
    </section>

    </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='description') }}
        {{ ckeditor.config(name='summary') }}
        {{ ckeditor.config(name='note') }}

{% endblock content %}
