{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block title_table %} {{ project.name }} - Methodologies {% endblock title_table %}

{% block add_url %} # {% endblock add_url %}

{% block datatable %}
{{ super() }}
<table class="table table-bordered table-striped mb-none" id="datatable-editable">
    <thead>
            <tr>
                <th width="5%"> # </th>
                <th width="60%"> Name </th>
                <th width="15%"> Status</th>
                <th width="20%"> Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for m in methodologies %}
              <tr>
                <td> {{ m.id }} </td>
                <td> {{ m.name }} </td>
                <td> {{ m.status }} </td>
                <td>
                  <a href="#" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-edit"></i> Edit</i>
                  </a>
                  <a href="#" class="btn btn-default btn-xs">
                       <i class="glyphicon glyphicon-trash"></i> Delete</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock datatable %}


