{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block title_table %} {{ project.name }} - Systems {% endblock title_table %}

{% block add_url %} {{ url_for('projects.add_system', pid=project.id) }} {% endblock add_url %}

{% block datatable %}
{{ super() }}
<table class="table table-bordered table-striped mb-none" id="datatable-editable">
    <thead>
        <tr>
            <th width="5%"> # </th>
            <th width="40%"> Name </th>
            <th width="15%"> System Type</th>
            <th width="20%"> Address</th>
            <th width="20%"> Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for s in systems %}
          <tr>
            <td> {{ s.id }} </td>
            <td> {{ s.name }} </td>
            <td> {{ s.system_type }} </td>
            <td> {{ s.address }} </td>
            <td>
            <a href="{{ url_for('projects.edit_system', pid=project.id, id=s.id) }}" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-edit"></i> Edit</a>
            <a href="#" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-trash"></i> Delete</a>
        </td>
          </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock datatable %}


