<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="{{ url_for('static', filename='dist/img/user2-160x160.jpg')}}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">{% if current_user.first_name -%} {{ current_user.contact.first_name }} {% else -%} {{ current_user.username }} {%- endif %}</a>
    </div>
  </div>



  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

      <!-- Submenu for active project -->
      {% if project %}
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Active Project
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{ url_for('projects.dashboard', pid=project.id ) }}" class="nav-link">
              <i class="fas fa-tachometer-alt nav-icon"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.vulns', pid=project.id ) }}" class="nav-link">
              <i class="fas fa-bug nav-icon"></i>
              <p>Vulnerabilities</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.systems', pid=project.id) }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Systems</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.hosts', pid=project.id) }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Hosts</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.todos', pid=project.id ) }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Todos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.modules', pid=project.id ) }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Modules</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.methodologies',pid=project.id) }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Methodologies</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.list_templates',pid=project.id) }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Export</p>
            </a>
          </li>
        </ul>
      </li>
      {% endif %}

      <!-- Submenu for project list -->
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Projects
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{ url_for('projects.list') }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>List projects</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('projects.create') }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Add new project</p>
            </a>
          </li>
        </ul>
      </li>

        <!-- Submenu for management of contacts and companies -->
        <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Contacts
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{ url_for('contacts.companies') }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Companies</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('contacts.contacts') }}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Contacts</p>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->