{% import "bootstrap/utils.html" as utils %}
{% extends "layout/base_layout.html" %}



{% block content %}
    <section class="content">
      <div class="row">
              <div class="col-md-12">
                    <div class="card card-olive">
                        <div class="card-header">
                            <strong class="card-title">{{ title }}</strong>
                        </div>
                        <div class="card-body">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "success" %}
                                        <div class="alert alert-success alert-dismissible fade in" role="alert">
                                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                              <span class="sr-only">Success:</span>
                                    {% elif category == "error" %}
                                        <div class="alert alert-error alert-dismissible fade in" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                              <span class="sr-only">Error:</span>
                                    {% else %}
                                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                                    {% endif %}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                  {{ message }}
                                  </div>
                                {% endfor %}
                              {% endif %}
                            {% endwith %}
                            <div class="row">
                                <div class="col-lg-12">
                                    {% block form_content %} {% endblock form_content %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock content %}

