{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/create_layout.html" %}
{% from "_formhelpers.html" import render_field , render_select_field, render_field_as_row, render_checkbox, render_submit_field, render_select2_field %}


{% block title %} {% block page_title %}{{ title }}{% endblock page_title %} {% endblock title %}
{% block form_title %} Vulnerability {% endblock form_title %}

{% block form_content %}

    <form class="form-horizontal form-bordered" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ form.project }}
        <div class="row">
            <div class="col-sm-6">
                {{ render_select_field(form.impact) }}
            </div>
            <div class="col-sm-6">
                {{ render_select_field(form.likelihood) }}
            </div>
        </div>
        {{ render_checkbox(form.exploit_available) }}
        <!-- {{ render_select_field(form.tags) }}
        {{ render_field(form.references) }}-->
        {{ render_field(form.description, class="ckeditor") }}
        {{ render_field(form.solution, class="ckeditor") }}
        {{ render_submit_field(form.submit) }}
    </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='description') }}
        {{ ckeditor.config(name='solution') }}

{% endblock form_content %}

