{% extends "layout/list_layout.html" %}
{% import "_tablehelper.html" as helper %}

{% block title_table %} Vulnerabilities {% endblock title_table %}

{% block add_url %} {{ url_for('projects.vulns_add', pid=project.id) }} {% endblock add_url %}

{% block datatable %}
{{ super() }}
<table class="table table-bordered table-striped mb-none" id="datatable-editable">
    <thead>
        <tr>
            <th width="5%"> # </th>
            <th width="45%"> Name </th>
            <th width="15%"> Impact</th>
            <th width="15%"> Likelihood</th>
            <th width="20%"> Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for v in vulns %}
      <tr>
        <td> {{ v.id }} </td>
        <td> {{ v.name }} </td>
        <td> {{ helper.render_impact(v.impact) }} </td>
        <td> {{ helper.render_likelihood(v.likelihood) }} </td>
        <td>
        <a href="#" class="btn btn-default btn-xs">
            <i class="glyphicon glyphicon-edit"></i> Edit</a>
        <a href="#" class="btn btn-default btn-xs">
            <i class="glyphicon glyphicon-trash"></i> Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock datatable %}

